@font-face {
  font-family: "Franklin Gothic Std Extra Condensed";
  src: url("ITCFranklinGothicStd-DmXCp.otf");
}
@font-face {
  font-family: "ITC Franklin Gothic Std Book";
  src: url("ITCFranklinGothicStd-Book.otf");
}
